body {
    font-family:"Potta One";
    background-color: black;
    margin: 0 auto;
}

h2,
p {
    color: white;
    text-align: center;
}

#answer {
    
    border:white;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;


}

button {
    font-family: "Potta One";
    font-size: 28px;
    background-color: darkblue;
    border: none;
    color: white;
    padding: 20px 50px;
    border-radius: 5px;
    
}

button:hover {
    background-color:blue;
    color: lightblue;
    box-shadow: 10px 10px 0 #5e187e;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
